{% extends 'base.html' %}

{% block body %}
{% load static %}
<table class='table table-sm table-dark w-75'>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Remove</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    {% for itens in cart %}
        <tr>
            <th><img src="{{ itens.order.img.url }}" class="h-50" style='width: 60px; height: 60px;'></th>
            <th>{{itens.order.title}}</th>
            <th><a href="{% url 'cart_delete' itens.id %}"><img src="{% static 'img/trash-icon.png' %}" style='width: 35px; height: 35px;'></a></th>
            <th>${{itens.order.price}}</th>
        </tr>
    {% endfor %}
    <tr class='bg-success'>
        <td colspan="3">Total Value:</th>
        <th>${{ total }}</th>
    </tr>
</table>

{% endblock %}