{% extends 'base.html' %}

{% block body %}

<div class="row">
{% for itens in product %}

<div class='col-4'>
  <div class="card border-success ml-4" style="width: 16rem;">
    <img src="{{ itens.img.url }}" class="card-img-top ">
    <h5 class="card-header">{{ itens.title }}</h5>
    <div class="card-body"> 
      <h6 class="card-subtitle mb-2 text-muted">R${{ itens.price }}</h6>
      <p class="card-text">{{ itens.description }}</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
</div>
{% endfor %}

</div>

{% endblock %}

